/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400l700&display=swap');
*/
html, body {
    margin: 0;
    height: 100vh; /* can also use viewport units (height: 100vh) */
}

body{
    /* max-width: 1200px; */
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    overflow: hidden; /* disable scrolling*/
}


p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page main {
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto;
}

.page main .page-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: stretch;
    
}

.page main img{
    /* padding-top: 20px; */
    /* width: 150px; */
    height: 75vh;
}

.page main .page-content{
    display: flex;
    /* margin-left: 15%; */
    width: 100%;
    flex-direction: column;
    overflow: auto;
    /* flex-wrap: wrap; */
    align-content: center;
    overflow: auto;
}

.page main .page-content .model_gca{
    display: flex;
    width: 100%;
    height: 75vh;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav .site-title p{
    /* font-size: 2em; */
    /* padding: 2px; */
    color: #777;
    font-weight: 300;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li{
    list-style-type: none;
    margin-left: 20px;
}

nav h1{
    font-size: 3em;
}

nav a{
    color: #777;
    font-weight: 300;
    padding: 2px;
}

nav img {
    padding: 5px;
    height: 5vh;
}

footer{
    color: #777;
    text-align: left;
    margin-bottom: 30px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

h2{
    margin-bottom: 40px;
}

h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}

/* ------------------- Navbar & DropDown Menu --------- */
.navbar {
    overflow: hidden;
    background-color:white;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #2E7DC0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #2E7DC0;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    /* background-color: #ddd; */
    color: black;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* border: 3px solid #ABDDED; */
    background: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ------------------- Plot Popup --------------------- */
.open-button {
    background: #ABDDED;
    /* color: #777; */
    color: #2E7DC0;
    font-size: 20px;
    font-weight: 600;
    /* padding: 20px 20px; */
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 50px;
    right: 28px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.plot-popup {
    display: none;
    position: fixed;
    bottom: 50;
    right: 15px;
    border: 3px solid #ABDDED;
    z-index: 9;
    max-width: 1000px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 10%;
}

.plot-popup .popup-close{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: #555;
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.plot-popup h1{
    text-align: center;
    font-size: 25px;
    color: #2E7DC0;
    font-weight: 300;
    padding: 2px;
}

.plot-popup ul{
    color: #777;
    font-weight: 300;
    margin-left: 20px;
    cursor: pointer;
}

.plot-popup a{
    color: #777;
    font-weight: 300;
    padding: 0px;
    cursor: pointer;
}

.plot-popup  a:hover{
    color: crimson;
}
/* ------------------- Input Pop up ---------------------- */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 300px;
    height: 420px;
    background: #f5f5f5;
    z-index: 1;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    display: none;
}

.popup .popup-close{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    background: #555;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup form .header{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 20px 0px;
}

.popup form .element{
    padding: 8px 20px;
}

.popup form .element label{
    display: block;
    font-size: 14px;
    color: #222;
    margin-bottom: 5px;
}

.popup form .element input{
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 5px;
}

.popup form .element button {
    margin-top: 5px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: #4889da;
    color: #f5f5f5;
}