/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400l700&display=swap');
*/
html, body {
    margin: 0;
    height: 100vh; /* can also use viewport units (height: 100vh) */
}

body{
    /* max-width: 1200px; */
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    overflow: hidden; /* disable scrolling*/
}


p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page main {
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto;
}

.page main .page-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: stretch;
    
}

.page main img{
    /* padding-top: 20px; */
    /* width: 150px; */
    height: 75vh;
}

.page main .page-content{
    display: flex;
    margin-left: 15%;
    width: 85%;
    flex-direction: column;
    overflow: auto;
    /* flex-wrap: wrap; */
    align-content: center;
    overflow: auto;
}

.page main .page-content .data_gca{
    display: flex;
    width: 100%;
    /* height: 39vh; */
    flex-direction: row;
    justify-content: space-between;
}

.page main .page-content .data_gca .fig{
    width: 50%;
}

.page main .page-content .model_gca{
    width: 100%;
    /* height: 39vh; */
    align-content: center;
}

section {
    height: 100%; /* takes the visible area of the "main" div */
    overflow: auto; /* recommended */
    border-bottom: 1px solid;
    background: lightgreen;
}

nav{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

/* nav .site-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} */

nav .site-title p{
    /* font-size: 2em; */
    /* padding: 2px; */
    color: #777;
    font-weight: 300;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li{
    list-style-type: none;
    margin-left: 20px;
}

nav h1{
    font-size: 3em;
}

nav a{
    color: #777;
    font-weight: 300;
    padding: 2px;
}

nav img {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    padding: 5px;
    /* width: 150px; */
    height: 5vh;
}

footer{
    /* flex: 0 0 auto; */
    color: #777;
    text-align: left;
    /* margin: 10px 0px 30px; */
    margin-bottom: 30px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

h2{
    margin-bottom: 40px;
}
h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}

.blogs a{
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid crimson;
}

.blogs a:hover h3{
    color: crimson;
}

.create-account form{
    width: 400px;
    margin: 0 auto;
}
.create-account input{
    display: block;
    width: 100%;
    margin: 0px 0;
    padding: 8px;
}
.create-account label{
    display: block;
    margin-top: 24px;
}
textarea{
    height: 120px;
}
.create-account button{
    margin-top: 20px;
    background: #25AAE1;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
}

.create-account button:hover{
    background: #2E7DC0;
}

.create-account a{
    color: #25AAE1;
    opacity: 1;
}

.create-account a:hover{
    color: crimson;
}

.create-account .ePass{
    color: crimson;
    /* font-size: 0.5em; */
}

.details{
    position: relative;
}
.delete{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
}
.delete:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.page main .sidenav {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: 42vw;
    width: 15vw;
    position: fixed;
    z-index: 1;
    /* /* top: 0; */
    left: 0;
    background-color: #ABDDED;
    overflow: hidden;
    /* padding-top: 20px; */
}

/* Input Pop up */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 300px;
    height: 420px;
    background: #f5f5f5;
    z-index: 1;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    display: none;
}

.popup .popup-close{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    background: #555;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup form .header{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 20px 0px;
}

.popup form .element{
    padding: 8px 20px;
}

.popup form .element label{
    display: block;
    font-size: 14px;
    color: #222;
    margin-bottom: 5px;
}

.popup form .element input{
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 5px;
}

.popup form .element button {
    margin-top: 5px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: #4889da;
    color: #f5f5f5;
}