<html lang="en">
    <%- include('./partial/header.ejs') %>
    <body>
        <div class="page">
            <main>
                <h1>Oops!!!</h1>
            </main>
            <%- include('./partial/footer.ejs') %>
        </div>
    </body>
</html>
