<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curl-E Geophysics Co., Ltd | <%= title %> </title>
    <link rel="stylesheet" href="/styles_inv.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../ceg_colorscale.js"></script>
    <script src="../convert_text2array.js"></script>
    <script src="../mColorForm.js"></script>
    <script src="../mBoundaryForm.js"></script>
    <script src="../PlotForm.js"></script>
</head>
