<html lang="en">
    <%- include('../partial/header.ejs') %>
    <body>
        <div class="page">
            <%- include('nav_doc_main.ejs') %>
            <main>
                <div class="page-body">
                        <h1>Welcome Document WebUI <%= name %> </h1>
                </div>
            </main>
            <%- include('../partial/footer.ejs') %>
        </div>
    </body>
</html>
