<nav>
    <div class="site-title">
        <a href="/"><img src="/ceg_logo.png" alt=""></a>
        <p>Cloud based inversion</p>
    </div>
    
    <ul>
        <li><a href="/doc/Receipt">สร้างใบเสร็จ</a></li>
    </ul>
</nav>