<html lang="en">
    <%- include('../partial/header.ejs') %>
    <body>
        <div class="page">
            <%- include('nav_doc_main.ejs') %>
            <main>
                <div class="page-body">
                        <h1>Welcome Document</h1>
                        <form action="/doc/receipt" method="POST">
                            <label for="username">Username:</label>
                            <input type="text" id="username "name="username">            
                            <button>สร้างใบเสร็จ</button>
                        </form>
                </div>
            </main>
            <%- include('../partial/footer.ejs') %>
        </div>
    </body>
</html>