<html lang="en">
    <%- include('../partial/header.ejs') %>
    <body>
        <div class="page">
            <%- include('nav_inv_main.ejs') %>
            <main>
                <div class="page-body">
                    <div class="create-account content">
                        <h1>Welcome <%= name %> </h1>
                        <form action="/inv/index" method="POST" enctype="multipart/form-data">
                            <input type="file" id="mfile" name="mfile" accept="modelfile/*,.m2d">
                            <!-- <input type="file" id="dfile2" name="dfile2" accept="datafile/*,.dat, datafile/*,.ceg"> -->
                            <button>Upload</button>
                        </form>
                    </div>

                    <!-- <img src="../DCR/DCR_Model.png" alt=""> -->
                    <div id="tester">
                    
                    <script type="text/javascript">         
                        var rho_str = "<%= rho %>";
                        var xS_str = "<%= xS %>";
                        var zS_str = "<%= zS %>";
                        var obj = rho_str.split(',');
                        var obj2 = xS_str.split(',');
                        var obj3 = zS_str.split(',');

                        var rho = [];
                        for (let ii = 0; ii < obj.length; ii++){
                            rho.push(parseFloat(obj[ii]));
                        }

                        var xS = [];
                        for (let ii = 0; ii < obj2.length; ii++){
                            xS.push(parseFloat(obj2[ii]));
                        }

                        var zS = [];
                        for (let ii = 0; ii < obj3.length; ii++){
                            zS.push(parseFloat(obj3[ii]));
                        }

                        let cmin = Math.log10(parseFloat("<%= cmin %>"));
                        let cmax = Math.log10(parseFloat("<%= cmax %>"));
                        let ncolor = 10;
                        let tickval =[];
                        let tick =[];
                        let step = (cmax-cmin)/ncolor;
                        tickval[0] = cmin;
                        tick[0] = Math.round(Math.pow(10,tickval[0]));
                        for ( ii = 1; ii < ncolor+1; ii++) {
                            tickval[ii] = tickval[ii-1] + step;
                            tick[ii] = Math.round(Math.pow(10,tickval[ii]));
                        }

                        const data = [{x: xS, y: zS, z: rho, 
                            colorscale: ceg_cscale, 
                            type: 'heatmap',
                            colorbar: {
                                title: "<%= clabel %>",
                                titleside: 'right',
                                tickvals: tickval,
                                ticktext: tick
                            },    
                            zmin: cmin,
                            zmax: cmax
                        }];

                        let xmin = parseFloat("<%= xmin %>");
                        let xmax = parseFloat("<%= xmax %>");

                        let zmin = parseFloat("<%= zmin %>");
                        let zmax = parseFloat("<%= zmax %>");
                        var layout = {
                            title: "<%= title_plot %>",
                            annotations: [],
                            xaxis: {
                                title: "<%= xlabel %>",
                                ticks: '',
                                side: 'bottom',
                                range: [xmin, xmax],
                            },
                            yaxis: {
                                title: "<%= zlabel %>",
                                ticks: '',
                                ticksuffix: ' ',
                                // width: 700,
                                // height: 700,
                                autosize: true,
                                range: [zmax, zmin]
                            },
                        };
                    </script>

                    <script type="text/javascript">         
                        // var data = [{"x": x2, "y": y2}];
                        if ( rho.length > 1) {
                            console.log(rho.length)
                            TESTER = document.getElementById('tester');
                            Plotly.newPlot( TESTER, data, layout );
                        }
                    </script>
                </div>
            </main>
            <%- include('../partial/footer.ejs') %>
        </div>
    </body>
</html>