<html lang="en">
    <%- include('../partial/header.ejs') %>
    <body>
        <div class="page">
            <%- include('nav_inv_main.ejs') %>
            <main>
                <!-- <div class="page-body"> -->
                    <div class="sidenav">
                        <div class="create-account content">
                            <h1>Welcome <%= name %> </h1>
                            <form action="/inv/index" method="POST" enctype="multipart/form-data">
                                <input type="file" id="mfile" name="mfile" accept="modelfile/*,.m2d">
                                <input type="file" id="dfile" name="dfile" accept="datafile/*,.dat, datafile/*,.ceg">
                                <input type="file" id="rfile" name="rfile" accept="datafile/*,.dat, datafile/*,.ceg">
                                <button>Upload</button>
                            </form>
                        </div>
                    </div>


                    <!-- <img src="../DCR/DCR_Model.png" alt=""> -->
                    <div class="page-content">
                        
                        <script type="text/javascript">   
                            rho = convert_text2array("<%= rho %>");
                            if (rho.length > 1) {
                                xS = convert_text2array("<%= xS %>");
                                zS = convert_text2array("<%= zS %>");
                                tick = convert_text2array("<%= tick %>");
                                tickval = convert_text2array("<%= tickval %>");
                                cmin = parseFloat("<%= cmin %>");
                                cmax = parseFloat("<%= cmax %>");

                                var data = [{x: xS, y: zS, z: rho, 
                                    colorscale: ceg_cscale, 
                                    type: 'heatmap',
                                    colorbar: {
                                        title: "<%= clabel %>",
                                        titleside: 'right',
                                        tickvals: tickval,
                                        ticktext: tick
                                    },    
                                    zmin: cmin,
                                    zmax: cmax
                                }];

                                xmin = parseFloat("<%= xmin %>");
                                xmax = parseFloat("<%= xmax %>");

                                zmin = parseFloat("<%= zmin %>");
                                zmax = parseFloat("<%= zmax %>");
                                var layout = {
                                    title: "<%= title_plot %>",
                                    annotations: [],
                                    xaxis: {
                                        title: "<%= xlabel %>",
                                        ticks: '',
                                        side: 'bottom',
                                        range: [xmin, xmax],
                                        scaleratio: 1,
                                    },
                                    yaxis: {
                                        title: "<%= zlabel %>",
                                        ticks: '',
                                        ticksuffix: ' ',
                                        autosize: true,
                                        range: [zmax, zmin],
                                    },  
                                };
                            }       
                        </script>                            
                        
                        <div class="model_gca" id="model_fig">
                            <script type="text/javascript">         
                                if ( rho.length > 1) {
                                    TESTER3 = document.getElementById('model_fig');
                                    Plotly.newPlot( TESTER3, data, layout );
                                }
                            </script>
                        </div>        

                        <div class="data_gca">
                            <div id="data_fig" class="fig">
                                <script type="text/javascript">         
                                    if ( rho.length > 1) {
                                        TESTER = document.getElementById('data_fig');
                                        Plotly.newPlot( TESTER, data, layout );
                                    }
                                </script>
                            </div>
                            <div id="resp_fig" class="fig">
                                <script type="text/javascript">         
                                    if ( rho.length > 1) {
                                        TESTER2 = document.getElementById('resp_fig');
                                        Plotly.newPlot( TESTER2, data, layout );
                                    }
                                </script>
                            </div>
                        </div>
                        
                        

                        <!-- <script type="text/javascript">         
                            if ( rho.length > 1) {
                                TESTER = document.getElementById('data_fig');
                                Plotly.newPlot( TESTER, data, layout );

                                TESTER2 = document.getElementById('resp_fig');
                                Plotly.newPlot( TESTER2, data, layout );

                                TESTER3 = document.getElementById('model_fig');
                                Plotly.newPlot( TESTER3, data, layout );
                            }
                        </script> -->
                    </div>                    
                <!-- </div> -->
            </main>
            <%- include('../partial/footer.ejs') %>
        </div>
    </body>
</html>