<html lang="en">
    <%- include('../partial/header.ejs') %>
    <body>
        <div class="page">
            <%- include('nav_inv.ejs') %>
            <main>
                <div class="page-body">
                    <img src="../DCR/DCR_Model.png" alt="">
                    <div class="create-account content">
                        <h1>Login</h1>
                        <form action="/inv/login" method="POST">
                            <label for="username">Username:</label>
                            <input type="text" id="username "name="username" required>
                            <label for="password">Password:</label>
                            <input type="password" id="password "name="password" required>
                            
                            
                            <button>Login</button>
                            <a href="/inv/register">Register</a>

                        </form>
                    </div>
                </div>
            </main>
            <%- include('../partial/footer.ejs') %>
        </div>
    </body>
</html>