<div class="popup" id="mboundary_popup">
    <div class="popup-close" onclick="close_mBoundaryForm()">&times;</div>
    <form action="/inv/model" method="POST">
        <div class="header">
            Model Boundary Setting
        </div>
        <div class="element">
            <label>Left Boundary</label>
            <input type="text" id="m_xmin" name="m_xmin">
        </div>
        <div class="element">
            <label>Right Boundary</label>
            <input type="text" id="m_xmax" name="m_xmax">
        </div>
        <div class="element">
            <label>Top Boundary</label>
            <input type="text" id="m_zmin" name="m_zmin">
        </div>
        <div class="element">
            <label>Bottom Boundary</label>
            <input type="text" id="m_zmax" name="m_zmax">
        </div>
        <div class="element">
            <button type="submit">Submit</button>
        </div>
    </form>

    <script type="text/javascript">   
        xmin = parseFloat("<%= xmin %>");
        xmax = parseFloat("<%= xmax %>");
        document.getElementById('m_xmin').value = xmin;
        document.getElementById('m_xmax').value = xmax;

        zmin = parseFloat("<%= zmin %>");
        zmax = parseFloat("<%= zmax %>");
        document.getElementById('m_zmin').value = zmin;
        document.getElementById('m_zmax').value = zmax;
    </script>
</div>