<html lang="en">
    <%- include('../partial/header_inv_model.ejs') %>
    <body>
        <div class="page">
            <%- include('nav_inv_main.ejs') %>
            <%- include('nav_inv_model.ejs') %>
            <%- include('model_colorbar_popup.ejs') %>
            <%- include('model_boundary_popup.ejs') %>
        
            <main>
                    <div class="page-content">
                        
                        <script type="text/javascript">   
                            rho = convert_text2array("<%= rho %>");
                            if (rho.length > 1) {
                                xS = convert_text2array("<%= xS %>");
                                zS = convert_text2array("<%= zS %>");
                                tick = convert_text2array("<%= tick %>");
                                tickval = convert_text2array("<%= tickval %>");
                                cmin = parseFloat("<%= cmin %>");
                                cmax = parseFloat("<%= cmax %>");

                                var data = [{x: xS, y: zS, z: rho, 
                                    colorscale: ceg_cscale, 
                                    type: 'heatmap',
                                    colorbar: {
                                        title: "<%= clabel %>",
                                        titleside: 'right',
                                        tickvals: tickval,
                                        ticktext: tick
                                    },    
                                    zmin: cmin,
                                    zmax: cmax
                                }];

                                xmin = parseFloat("<%= xmin %>");
                                xmax = parseFloat("<%= xmax %>");

                                zmin = parseFloat("<%= zmin %>");
                                zmax = parseFloat("<%= zmax %>");
                                var layout = {
                                    title: "<%= title_plot %>",
                                    annotations: [],
                                    xaxis: {
                                        title: "<%= xlabel %>",
                                        ticks: '',
                                        side: 'bottom',
                                        range: [xmin, xmax],
                                        scaleratio: 1,
                                    },
                                    yaxis: {
                                        title: "<%= zlabel %>",
                                        ticks: '',
                                        ticksuffix: ' ',
                                        autosize: true,
                                        range: [zmax, zmin],
                                    },  
                                };
                            }       
                        </script>                            
                        
                        <div class="model_gca" id="model_fig">
                            <script type="text/javascript">         
                                if ( rho.length > 1) {
                                    TESTER3 = document.getElementById('model_fig');
                                    Plotly.newPlot( TESTER3, data, layout );
                                }
                            </script>
                        </div>      


                        <%- include('plot_popup.ejs') %>
                    </div>                    
            </main>
            <%- include('../partial/footer.ejs') %>
        </div>
    </body>
</html>