<div class="popup" id="mcolor_popup">
    <div class="popup-close" onclick="close_mColorForm()">&times;</div>
    <form action="/inv/model" method="POST">
        <div class="header">
            Model Color Setting
        </div>
        <div class="element">
            <label>Minimum Color Scale</label>
            <input type="text" id="m_cmin" name="m_cmin">
        </div>
        <div class="element">
            <label>Maximum Color Scale</label>
            <input type="text" id="m_cmax" name="m_cmax">
        </div>
        <div class="element">
            <button type="submit">Submit</button>
        </div>
    </form>

    <script type="text/javascript">   
        cmin = Math.pow(10,parseFloat("<%= cmin %>"));
        cmax = Math.pow(10,parseFloat("<%= cmax %>"));
        document.getElementById('m_cmin').value = cmin;
        document.getElementById('m_cmax').value = cmax;
    </script>
</div>