<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Data Setting 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a onclick="open_mColorForm()">Model Color Scale</a>
            <a onclick="open_mBoundaryForm()">Model Boundary</a>
        </div>
    </div>
    <a>Submit</a>
</div>