<nav>
    <div class="site-title">
        <a href="/"><img src="/ceg_logo.png" alt=""></a>
        <p>Cloud based inversion</p>
    </div>
    
    <ul>
        <li><a href="/inv/index">Home</a></li>
        <li><a href="/inv/logout">Logout</a></li>
    </ul>
</nav>