<div class="plot-popup" id="plotPopup">
    <div class="popup-close" onclick="close_PlotForm()">&times;</div>
    <h1>Select Plot</h1>
    <ul>
        <li><a href="/inv/data">Data Plot</a></li>
        <li><a href="/inv/resp">Response Plot</a></li>
        <li><a href="/inv/model">Model Plot</a></li>
    </ul>                           
</div>
<button class="open-button" onclick="open_PlotForm()">Plot</button>