<html lang="en">
    <%- include('../partial/header.ejs') %>
    <body>
        <div class="page">
            <%- include('nav_inv.ejs') %>
            <main>
                <div class="page-body">
                    <img src="../DCR/DCR_Model.png" alt="">
                    <div class="create-account content">
                        <h1>Register</h1>
                        <form action="/inv/register" method="POST">
                            <% if ( err.length == 0 ) { %>
                                <label for="username">Username:</label>
                                <input type="text" id="username "name="username" required>
                                <label for="password">Password: (more than 8 characters)</label>
                                <input type="password" id="password "name="password" required>
                                <label for="password2">Comfirm Password:</label>
                                <input type="password" id="cpassword "name="cpassword" required>
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email" required>
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name">
                                <label for="lastname">Lastname:</label>
                                <input type="text" id="lastname" name="lastname">
                            <% } else if (err == 1) { %> 
                                <!-- Password too short -->
                                <label for="username">Username:</label>
                                <input type="text" id="username "name="username" required>
                                <label for="password" class="ePass">Password: (more than 8 characters)</label>
                                <input type="password" id="password "name="password" required>
                                <label for="password2">Comfirm Password:</label>
                                <input type="password" id="cpassword "name="cpassword" required>
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email" required>
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name">
                                <label for="lastname">Lastname:</label>
                                <input type="text" id="lastname" name="lastname">
                            <% } else if (err == 2) { %>
                                <!-- Passwords are not consitent -->
                                <label for="username">Username:</label>
                                <input type="text" id="username "name="username" required>
                                <label for="password" class="ePass">Password: (more than 8 characters)</label>
                                <input type="password" id="password "name="password" required>
                                <label for="password2" class="ePass">Comfirm Password:</label>
                                <input type="password" id="cpassword "name="cpassword" required>
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email" required>
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name">
                                <label for="lastname">Lastname:</label>
                                <input type="text" id="lastname" name="lastname">
                            <% } else if (err == 3) { %>
                                <!-- Email is already used -->
                                <label for="username">Username:</label>
                                <input type="text" id="username "name="username" required>
                                <label for="password">Password: (more than 8 characters)</label>
                                <input type="password" id="password "name="password" required>
                                <label for="password2">Comfirm Password:</label>
                                <input type="password" id="cpassword "name="cpassword" required>
                                <label for="email" class="ePass">Email:</label>
                                <input type="text" id="email" name="email" required>
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name">
                                <label for="lastname">Lastname:</label>
                                <input type="text" id="lastname" name="lastname">
                            <% } else if (err == 4) { %>
                                <!-- Username is already used -->
                                <label for="username" class="ePass">Username:</label>
                                <input type="text" id="username "name="username" required>
                                <label for="password">Password: (more than 8 characters)</label>
                                <input type="password" id="password "name="password" required>
                                <label for="password2">Comfirm Password:</label>
                                <input type="password" id="cpassword "name="cpassword" required>
                                <label for="email" >Email:</label>
                                <input type="text" id="email" name="email" required>
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name">
                                <label for="lastname">Lastname:</label>
                                <input type="text" id="lastname" name="lastname">
                            <% } %>    
                            <button>Register</button>
                            <a href="/inv/login">Login</a>
                        </form>
                    </div>
                </div>
            </main>
            <%- include('../partial/footer.ejs') %>
        </div>
    </body>
</html>